In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./dim_shipping.csv')
dim_shipping = 'dim_shipping'

In [3]:
df

      Ship_Date       Ship_Mode
0     6/18/2016     First Class
1     9/14/2017  Standard Class
2     3/25/2017    Second Class
3     9/28/2017     First Class
4     8/22/2015  Standard Class
..          ...             ...
795   9/26/2017  Standard Class
796   9/13/2017  Standard Class
797  10/15/2015        Same Day
798   7/30/2014  Standard Class
799   3/25/2017     First Class

[800 rows x 2 columns]

In [4]:
for indice, fila in df.iterrows():
    valores = ', '.join([f"'{valor}'" if isinstance(valor, str) else str(valor) for valor in fila])
    comando_sql = f"INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ({valores});"
    print(comando_sql)

INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/18/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/14/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/25/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/28/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/22/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/19/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/5/2014', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/23/2015', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/4/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/19/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/26/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/6/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/7/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('7/26/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/25/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/3/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/13/2014', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/18/2017', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/13/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/10/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/22/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/12/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('7/24/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/16/2015', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/22/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/5/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/11/2016', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/27/2015', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/31/2015', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/8/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/18/2017', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/22/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('7/2/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/25/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/4/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/30/2016', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/4/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/6/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/18/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/8/2015', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/8/2015', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('2/27/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/24/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/19/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/24/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/6/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/4/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/14/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/17/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/13/2014', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/10/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/27/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/13/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/25/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/17/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('7/22/2014', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/20/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/19/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/3/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/21/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/1/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('5/6/2015', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/6/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/25/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/23/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/1/2016', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/17/2015', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('2/6/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/5/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/14/2015', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/7/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/31/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/21/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/27/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/24/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('7/14/2014', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/25/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/12/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/9/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/30/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/15/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('2/18/2015', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/29/2014', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('2/6/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/21/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/6/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/22/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('2/18/2015', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/26/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/5/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/19/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/18/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/5/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/6/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/27/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/20/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/26/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/21/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/30/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/14/2015', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/29/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/10/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/19/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/13/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/29/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/1/2018', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/26/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/21/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/19/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/9/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/1/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/18/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/25/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/16/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/14/2015', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/16/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/13/2014', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('7/5/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/28/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/24/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/13/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/19/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/3/2018', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/24/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/28/2015', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/31/2015', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/2/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/2/2018', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/25/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('5/30/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/22/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('5/15/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/13/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/12/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('2/18/2015', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/13/2016', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/13/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/22/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('7/22/2014', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('5/25/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/31/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/12/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/19/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/25/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/19/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('2/20/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/18/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/6/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('7/19/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/31/2015', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/21/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/12/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('2/27/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/21/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/28/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/6/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/9/2015', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/19/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/2/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/26/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/24/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/18/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/27/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/10/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/22/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/9/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('2/28/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/21/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/9/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/22/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/15/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/23/2015', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/14/2014', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/10/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/13/2014', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('7/6/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/26/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/22/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/5/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/12/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/27/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/30/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/6/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/22/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/24/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/30/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/6/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/8/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/25/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('7/19/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/19/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/31/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/3/2018', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/11/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/27/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('5/19/2016', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/6/2016', 'Same Day');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/27/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/27/2015', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/11/2015', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/22/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/31/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/9/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/13/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/1/2016', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/27/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/25/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/30/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/18/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/13/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/1/2014', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/3/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/21/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/10/2015', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/10/2014', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('5/4/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('11/5/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('9/6/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/21/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/5/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/25/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/3/2017', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('6/6/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/21/2016', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('12/18/2015', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('10/24/2017', 'Second Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('3/31/2017', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('4/29/2016', 'Standard Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('8/29/2014', 'First Class');
INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ('1/2/2015', 'Standard Class');

In [5]:
with open('insert_dim_shipping.sql', 'w') as archivo_sql:
    for indice, fila in df.iterrows():
        valores = ', '.join([f"'{valor}'" if isinstance(valor, str) else str(valor) for valor in fila])
        comando_sql = f"INSERT INTO dim_shipping (Ship_Date, Ship_Mode) VALUES ({valores});\n"
        archivo_sql.write(comando_sql)