In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./dim_place.csv')

In [3]:
df

           Country           City         State  Postal_Code   Region
0    United States           Troy      New York        12180     East
1    United States        Atlanta       Georgia        30318    South
2    United States       Columbus       Indiana        47201  Central
3    United States          Salem        Oregon        97301     West
4    United States        Phoenix       Arizona        85023     West
..             ...            ...           ...          ...      ...
795  United States  New York City      New York        10035     East
796  United States   Philadelphia  Pennsylvania        19134     East
797  United States       Amarillo         Texas        79109  Central
798  United States    San Antonio         Texas        78207  Central
799  United States        Seattle    Washington        98115     West

[800 rows x 5 columns]

In [5]:
df.columns

Index(['Country', 'City', 'State', 'Postal_Code', 'Region'], dtype='object')

In [4]:
dim_place = 'dim_place'

In [7]:
for indice, fila in df.iterrows():
    valores = ', '.join([f"'{valor}'" if isinstance(valor, str) else str(valor) for valor in fila])
    comando_sql = f"INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ({valores});"
    print(comando_sql)

INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Troy', 'New York', 12180, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Atlanta', 'Georgia', 30318, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Columbus', 'Indiana', 47201, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Salem', 'Oregon', 97301, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Phoenix', 'Arizona', 85023, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Roseville', 'California', 95661, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Denver', 'Colorado', 80219, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94110, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Luis Obispo', 'California', 93405, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Chicago', 'Illinois', 60610, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'New York City', 'New York', 10035, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Redondo Beach', 'California', 90278, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90036, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Columbia', 'Maryland', 21044, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Lakewood', 'Ohio', 44107, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98103, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98103, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Milwaukee', 'Wisconsin', 53209, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Philadelphia', 'Pennsylvania', 19134, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Rochester', 'Minnesota', 55901, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Phoenix', 'Arizona', 85023, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Colorado Springs', 'Colorado', 80906, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Denver', 'Colorado', 80219, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90045, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90036, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94122, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Anaheim', 'California', 92804, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Dublin', 'Ohio', 43017, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Redlands', 'California', 92374, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90004, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Milwaukee', 'Wisconsin', 53209, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90008, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Gilbert', 'Arizona', 85234, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Pasadena', 'California', 91104, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Lowell', 'Massachusetts', 1852, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90032, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Parker', 'Colorado', 80134, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Knoxville', 'Tennessee', 37918, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Johnson City', 'Tennessee', 37604, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94109, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94109, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'El Paso', 'Texas', 79907, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94110, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'New York City', 'New York', 10024, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Brentwood', 'California', 94513, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90036, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90032, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'West Jordan', 'Utah', 84084, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'New Rochelle', 'New York', 10801, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98103, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Chico', 'California', 95928, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Jose', 'California', 95123, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Philadelphia', 'Pennsylvania', 19134, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Pasadena', 'California', 91104, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Roseville', 'California', 95661, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Diego', 'California', 92105, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Skokie', 'Illinois', 60076, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'New York City', 'New York', 10024, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98103, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Jackson', 'Mississippi', 39212, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94109, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94109, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98115, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Pasadena', 'California', 91104, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Redmond', 'Washington', 98052, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Quincy', 'Massachusetts', 2169, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Springfield', 'Oregon', 97477, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94110, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90008, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Oceanside', 'New York', 11572, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90036, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Fairfield', 'California', 94533, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Jackson', 'Mississippi', 39212, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90045, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Salem', 'Oregon', 97301, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'El Paso', 'Texas', 79907, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Columbus', 'Georgia', 31907, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90032, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Diego', 'California', 92105, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90036, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98105, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90004, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94110, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94110, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Houston', 'Texas', 77095, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98115, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90008, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90004, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'New York City', 'New York', 10035, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Quincy', 'Illinois', 62301, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Camarillo', 'California', 93010, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Troy', 'New York', 12180, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Portland', 'Oregon', 97206, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Redondo Beach', 'California', 90278, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Bozeman', 'Montana', 59715, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Skokie', 'Illinois', 60076, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'New York City', 'New York', 10035, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Salem', 'Oregon', 97301, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98103, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Oceanside', 'New York', 11572, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Jackson', 'Michigan', 49201, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Chico', 'California', 95928, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Roseville', 'California', 95661, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Philadelphia', 'Pennsylvania', 19134, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Chandler', 'Arizona', 85224, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Dallas', 'Texas', 75081, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Greeley', 'Colorado', 80634, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Jackson', 'Mississippi', 39212, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Plantation', 'Florida', 33317, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Pleasant Grove', 'Utah', 84062, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Quincy', 'Illinois', 62301, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'New York City', 'New York', 10011, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Jacksonville', 'Florida', 32216, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90036, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90032, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Rochester', 'New York', 14609, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98103, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Deltona', 'Florida', 32725, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98103, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Brentwood', 'California', 94513, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Diego', 'California', 92105, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Plantation', 'Florida', 33317, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Fairfield', 'California', 94533, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98103, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90045, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Redlands', 'California', 92374, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Francisco', 'California', 94110, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Edmonds', 'Washington', 98026, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90049, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Columbus', 'Georgia', 31907, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90008, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'New York City', 'New York', 10024, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Santa Ana', 'California', 92704, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90049, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90004, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Springfield', 'Ohio', 45503, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Jackson', 'Michigan', 49201, 'Central');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90008, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'San Diego', 'California', 92105, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Vallejo', 'California', 94591, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Fairfield', 'California', 94533, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Los Angeles', 'California', 90032, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Roseville', 'California', 95661, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98115, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Plantation', 'Florida', 33317, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Troy', 'Ohio', 45373, 'East');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Johnson City', 'Tennessee', 37604, 'South');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Seattle', 'Washington', 98105, 'West');
INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ('United States', 'Apple Valley', 'California', 92307, 'West');

In [8]:
with open('insert_dim_place.sql', 'w') as archivo_sql:
    for indice, fila in df.iterrows():
        valores = ', '.join([f"'{valor}'" if isinstance(valor, str) else str(valor) for valor in fila])
        comando_sql = f"INSERT INTO dim_place (Country, City, State, Postal_Code, Region) VALUES ({valores});\n"
        archivo_sql.write(comando_sql)