In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [2]:
df_1 = pd.read_csv('./dataset1.csv', encoding='utf-8', engine='python')
df_1

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,...,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Person,Returned,total_cost,price_per_unit
0,CA-2016-111682,6/17/2016,6/18/2016,First Class,Consumer,United States,Troy,New York,12180,East,...,Art,Prang Dustless Chalk Sticks,1.68,1,0.0,0.84,Chuck Magee,No,0.8400,1.680000
1,CA-2017-159954,9/10/2017,9/14/2017,Standard Class,Consumer,United States,Atlanta,Georgia,30318,South,...,Binders,Wilson Jones Suede Grain Vinyl Binders,2.78,1,0.0,1.36,Cassandra Brandow,No,1.4200,2.780000
2,CA-2017-154214,3/20/2017,3/25/2017,Second Class,Consumer,United States,Columbus,Indiana,47201,Central,...,Furnishings,"GE General Purpose, Extra Long Life, Showcase ...",2.91,1,0.0,1.37,Kelly Williams,No,1.5400,2.910000
3,CA-2017-156391,9/26/2017,9/28/2017,First Class,Home Office,United States,Salem,Oregon,97301,West,...,Art,Prang Drawing Pencil Set,2.22,1,0.2,0.56,Anna Andreadi,No,1.6600,2.775000
4,US-2015-128090,8/16/2015,8/22/2015,Standard Class,Consumer,United States,Phoenix,Arizona,85023,West,...,Art,Newell 346,2.30,1,0.2,0.26,Anna Andreadi,No,2.0400,2.875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,CA-2017-100111,9/20/2017,9/26/2017,Standard Class,Consumer,United States,New York City,New York,10035,East,...,Chairs,Hon 4070 Series Pagoda Armless Upholstered Sta...,2888.13,11,0.1,609.72,Chuck Magee,No,2278.4100,291.730292
796,US-2017-118087,9/9/2017,9/13/2017,Standard Class,Corporate,United States,Philadelphia,Pennsylvania,19134,East,...,Phones,Samsung Galaxy Note 2,1931.96,7,0.4,-386.39,Chuck Magee,No,2318.3500,459.990471
797,CA-2015-139731,10/15/2015,10/15/2015,Same Day,Consumer,United States,Amarillo,Texas,79109,Central,...,Chairs,HON 5400 Series Task Chairs for Big and Tall,2453.43,5,0.3,-350.49,Kelly Williams,No,2803.9200,700.979992
798,CA-2014-169019,7/26/2014,7/30/2014,Standard Class,Consumer,United States,San Antonio,Texas,78207,Central,...,Binders,GBC DocuBind P400 Electric Binding System,2177.58,8,0.8,-3701.89,Kelly Williams,No,5879.4697,1360.987630
799,CA-2017-140151,3/23/2017,3/25/2017,First Class,Consumer,United States,Seattle,Washington,98115,West,...,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,4,0.0,6719.98,Anna Andreadi,No,7279.9800,3499.989990

In [3]:
df_1.columns

Index(['Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode', 'Segment',
       'Country', 'City', 'State', 'Postal_Code', 'Region', 'Product_ID',
       'Category', 'Sub_Category', 'Product_Name', 'Sales', 'Quantity',
       'Discount', 'Profit', 'Person', 'Returned', 'total_cost',
       'price_per_unit'],
      dtype='object')

In [4]:
df_1.isnull()

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,...,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Person,Returned,total_cost,price_per_unit
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
796,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
798,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
799,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
dim_producto = ['Product_ID', 'Product_Name']

In [9]:
nuevo_dim_producto = df_1[dim_producto].copy()

In [10]:
nuevo_dim_producto.to_csv('nuevo_archivo.csv', index=False)

In [11]:
df_producto = pd.read_csv('./nuevo_archivo.csv', encoding='utf-8', engine='python')
df_producto

          Product_ID                                       Product_Name
0    OFF-AR-10001868                        Prang Dustless Chalk Sticks
1    OFF-BI-10004876             Wilson Jones Suede Grain Vinyl Binders
2    FUR-FU-10000206  GE General Purpose, Extra Long Life, Showcase ...
3    OFF-AR-10003251                           Prang Drawing Pencil Set
4    OFF-AR-10002255                                         Newell 346
..               ...                                                ...
795  FUR-CH-10004086  Hon 4070 Series Pagoda Armless Upholstered Sta...
796  TEC-PH-10002200                              Samsung Galaxy Note 2
797  FUR-CH-10002024       HON 5400 Series Task Chairs for Big and Tall
798  OFF-BI-10004995          GBC DocuBind P400 Electric Binding System
799  TEC-CO-10004722              Canon imageCLASS 2200 Advanced Copier

[800 rows x 2 columns]

In [12]:
df_1.columns

Index(['Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode', 'Segment',
       'Country', 'City', 'State', 'Postal_Code', 'Region', 'Product_ID',
       'Category', 'Sub_Category', 'Product_Name', 'Sales', 'Quantity',
       'Discount', 'Profit', 'Person', 'Returned', 'total_cost',
       'price_per_unit'],
      dtype='object')

In [18]:
fact_sales = ['Order_ID','Product_ID','Sales','Quantity','Discount','Profit','total_cost','price_per_unit']

In [19]:
nuevo_fact_sales = df_1[fact_sales].copy()

In [20]:
nuevo_fact_sales.to_csv('fact_sales.csv', index=False)

In [21]:
df_fact = pd.read_csv('./fact_sales.csv', encoding='utf-8', engine='python')
df_fact

,Order_ID,Product_ID,Sales,Quantity,Discount,Profit,total_cost,price_per_unit
0,CA-2016-111682,OFF-AR-10001868,1.68,1,0.0,0.84,0.8400,1.680000
1,CA-2017-159954,OFF-BI-10004876,2.78,1,0.0,1.36,1.4200,2.780000
2,CA-2017-154214,FUR-FU-10000206,2.91,1,0.0,1.37,1.5400,2.910000
3,CA-2017-156391,OFF-AR-10003251,2.22,1,0.2,0.56,1.6600,2.775000
4,US-2015-128090,OFF-AR-10002255,2.30,1,0.2,0.26,2.0400,2.875000
...,...,...,...,...,...,...,...,...
795,CA-2017-100111,FUR-CH-10004086,2888.13,11,0.1,609.72,2278.4100,291.730292
796,US-2017-118087,TEC-PH-10002200,1931.96,7,0.4,-386.39,2318.3500,459.990471
797,CA-2015-139731,FUR-CH-10002024,2453.43,5,0.3,-350.49,2803.9200,700.979992
798,CA-2014-169019,OFF-BI-10004995,2177.58,8,0.8,-3701.89,5879.4697,1360.987630
799,CA-2017-140151,TEC-CO-10004722,13999.96,4,0.0,6719.98,7279.9800,3499.989990

In [22]:
df_fact.columns

Index(['Order_ID', 'Product_ID', 'Sales', 'Quantity', 'Discount', 'Profit',
       'total_cost', 'price_per_unit'],
      dtype='object')

In [23]:
dim_segment = ['Segment'] 
nuevo_dim_segment = df_1[dim_segment].copy()
nuevo_dim_segment.to_csv('dim_segment.csv', index=False)

In [24]:
df_segment = pd.read_csv('./dim_segment.csv', encoding='utf-8', engine='python')
df_segment

         Segment
0       Consumer
1       Consumer
2       Consumer
3    Home Office
4       Consumer
..           ...
795     Consumer
796    Corporate
797     Consumer
798     Consumer
799     Consumer

[800 rows x 1 columns]

In [25]:
dim_category = ['Category', 'Sub_Category'] 
nuevo_dim_category = df_1[dim_category].copy()
nuevo_dim_category.to_csv('dim_category.csv', index=False)

In [26]:
dim_seller = ['Person'] 
nuevo_dim_seller = df_1[dim_seller].copy()
nuevo_dim_seller.to_csv('dim_seller.csv', index=False)

In [27]:
dim_place = ['Country', 'City', 'State', 'Postal_Code', 'Region'] 
nuevo_dim_place = df_1[dim_place].copy()
nuevo_dim_place.to_csv('dim_place.csv', index=False)

In [28]:
dim_area = ['Category', 'Sub_Category','Segment'] 
nuevo_dim_area = df_1[dim_area].copy()
nuevo_dim_area.to_csv('dim_area.csv', index=False)

In [29]:
dim_date = ['Order_Date'] 
nuevo_dim_date = df_1[dim_date].copy()
nuevo_dim_date.to_csv('dim_date.csv', index=False)

In [30]:
dim_shipping = ['Ship_Date', 'Ship_Mode'] 
nuevo_shipping = df_1[dim_shipping].copy()
nuevo_shipping.to_csv('dim_shipping.csv', index=False)